p {
      font-family: Roboto, Arial;
      margin-top: 0;
      margin-bottom: 0;
    }
body{
    margin: 0px;
    padding-top: 55px;
    padding-left: 80px;
    padding-right: 18px;;
}    

/* Hide element when screen width is 600px or less */
@media (max-width: 600px) {
  body{
    padding-left: 20px;  /* completely hides the element */
  }
}